<nav *ngIf="data.user" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['./']">Admin Panel</a>
  <ul class="navbar-nav nav justify-content-center my-2 my-lg-0">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['submissions']">Submissions</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link text-info">Welcome {{data.user.name}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" style="cursor:pointer">Logout</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

